"""
    {qualname}
    {underline}

    Pythonic wrapper for the rp package.
    {msg}
    original file: {original_file}
    commit id: {commit_id}

    :copyright: 2024 by redpipy Authors, see AUTHORS for more details.
    :license: BSD, see LICENSE for more details.
"""

from . import constants
from .constants import StatusCode
from .error import RPPError

import numpy as np

import rp
import numpy.typing as npt

def _to_debug(*values):
    VALID = (int, float, str, bool)
    return tuple(
        value if isinstance(value, VALID) else type(value)
        for value in values
    )

{content}
